<html>

<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    .main{
      width: 100%;
      padding-left: 30%;
      padding-right: 30%;
      padding-top: 1%;
      
    }
    input{
      margin-bottom: 3%;
    }
    select{
      margin-bottom: 3%;
    }
    .output{
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 22px;
      font-weight: bold;
      padding-bottom: 3%;
    }
  </style>
</head>

<body style="margin: 50px;">
  <h6 style="font-weight: bold;font-size: 32px;text-align: center;">Diamond Price Prediction</h6>
  <div class="main">
  <form action="{{url_for('predict_datapoint')}}" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label" for="carat">Carat:</label>
        <input type="text" class="form-control" id="carat" name="carat" placeholder="Enter carat value (float)"
        aria-describedby="emailHelp" style="background-color: rgb(242, 248, 252);">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label" for="depth">Depth:</label>
        <input type="text" class="form-control" id="depth" name="depth" placeholder="Enter depth value (float)"
        aria-describedby="emailHelp" style="background-color: rgb(242, 248, 252);">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label" for="table" >Table:</label>
        <input  class="form-control" type="text" id="table" name="table" placeholder="Enter table value (float)"
        aria-describedby="emailHelp"  style="background-color:rgb(242, 248, 252);">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label" for="x">x:</label>
      <input  class="form-control"type="text" id="x" name="x" placeholder="Enter x value (float)"
      aria-describedby="emailHelp"  style="background-color: rgb(242, 248, 252);">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label" for="y" >y:</label>
      <input  class="form-control" type="text" id="y" name="y" placeholder="Enter y value (float)"
      aria-describedby="emailHelp"  style="background-color: rgb(242, 248, 252);">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label" for="z" >z:</label>
      <input  class="form-control"type="text" id="z" name="z" placeholder="Enter z value (float)"
      aria-describedby="emailHelp"  style="background-color: rgb(242, 248, 252);">
    </div>
    
    <div class="form-group">
      <label for="cut">Cut:</label>
      <select id="cut" name="cut" class="form-select" aria-label="Default select example"  style="background-color: rgb(242, 248, 252);;">
        <option value="Fair">Fair</option>
        <option value="Good">Good</option>
        <option value="Very Good">Very Good</option>
        <option value="Premium">Premium</option>
        <option value="Ideal">Ideal</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="color">Color:</label>
      <select id="color" name="color" class="form-select" aria-label="Default select example"  style="background-color: rgb(242, 248, 252);">
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
      </select>
    </div>

    <div class="form-group">
      <label for="clarity">Clarity:</label>
      <select id="clarity" name="clarity" class="form-select" aria-label="Default select example"  style="background-color: rgb(242, 248, 252);">
        <option value="I1">I1</option>
        <option value="SI2">SI2</option>
        <option value="SI1">SI1</option>
        <option value="VS2">VS2</option>
        <option value="VS1">VS1</option>
        <option value="VVS2">VVS2</option>
        <option value="VVS1">VVS1</option>
        <option value="IF">IF</option>
      </select>
    </div>
    
    <div style="clear:both;"></div>
    <input style="padding-left:5% ;padding-right: 5%;margin-left: 42%;margin-top: 3%;" class="btn btn-primary"type="submit" value="Submit">
  </form>
</div>
  <div class="output">
  {{final_result}}
</body>
</html>